html {
    width: 100%;
    height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: rgb(231, 238, 251);
}








* {
    font-size: 25px;
}

.seat {
    font-size: 15px;
}

#confirm {
    font-size: 25px;
}

.container {
    padding: 10px;
}

.navbar {
    padding: 20px;
    font-size: 30px;
    background-color: rgb(174, 189, 254);
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.detail {
    margin-top: 20px;
}

.title {
    font-size: 30px;
}

.original-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

img {
    /* width: 300px;
        height: 450px; */
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    /* 첫 번째 열은 자동 너비, 두 번째 열은 나머지 공간을 차지 */
    gap: 30px;
    /* 열 사이의 간격 */
}

.image {
    max-width: 100%;
    /* 이미지가 그리드 셀을 넘어가지 않도록 */
    height: auto;
    /* 이미지 비율 유지 */
}

.text-content {
    /* 나머지 텍스트 요소들에 대한 스타일 */
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}


#Home,
#mypage {
    padding: 10px;
    transition: all 0.3s;
}

#Home:hover {
    background-color: pink;
    cursor: pointer;
}


#mypage:hover {
    background-color: pink;
    cursor: pointer;
}













.container {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

.seats-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(20, 40px);
    /* 20개의 좌석, 각각 40px */
    gap: 5px;
    /* 각 좌석 사이의 간격 */
    margin-top: 20px;
}

.seat {
    width: 90%;
    height: 90%;
    background-color: #ddd;
    border: 1px solid #888;
    border-radius: 3px;
    cursor: pointer;
    z-index: 2;
}

.seat.selected {
    background-color: pink;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
}

.occupied {
    background-color: rgb(186, 186, 252);
}

.hidden {
    border: none;
    background-color: transparent;
    color: transparent;
}

.screen {
    display: flex;
    justify-content: center;
    position: relative;
}

h2 {
    margin-bottom: 0;
}

#screen {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(186, 186, 252);
}

#reserved {
    font-size: 20px;
    padding: 10px;
    background-color: rgb(186, 186, 252);
    border-radius: 10px;
    margin-right: 20px;
}

.result {
    font-size: 20px;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(30, 90, 255);
}

.result {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#confirm {
    font-size: 20px;
    padding: 11px;
    background-color: pink;
    border-radius: 10px;
    margin-left: 20px;
    border: none;
    margin-bottom: 20px;
}

#confirm:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

#room {
    margin-right: 10px;
    font-size: 30px;
    color: dodgerblue;
}

.modal-body {
    font-size: 20px;
    padding-left: 10px;
}

.modal-title {
    font-size: 30px;
    color: dodgerblue;
    text-align: center;
}

#modal-button {
    display: none;
}