* {
    font-size: 25px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    margin-top: 100px;
}

#i15 {
    background-color: rgb(255, 85, 0);
    color: white;
    border-radius: 5px;
    font-size: 50px;
    padding: 5px;
    padding-right: 7px;
}

#title {
    font-size: 40px;
}

#onair {
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 3px;
}

.info-hall {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sun {
    color: rgb(255, 85, 0);
}

#etc {}

.seats {
    display: flex;
    gap: 20px;
}

.seat {
    border: 2px solid gray;
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(246, 249, 255);
    text-align: center
}

.seat:hover {
    background-color: pink;
}

.clock {
    font-weight: bold;
}

.no {
    color: dodgerblue;
}