* {
    font-size: 25px;
}

.container {
    padding: 10px;
}

.navbar {
    padding: 20px;
    font-size: 30px;
    background-color: rgb(174, 189, 254);
    border-top-left-radius: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.detail {
    margin-top: 20px;
}

.title {
    font-size: 30px;
}

.original-title {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

img {
    /* width: 300px;
        height: 450px; */
    border-radius: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.3fr;
    /* 첫 번째 열은 자동 너비, 두 번째 열은 나머지 공간을 차지 */
    gap: 30px;
    /* 열 사이의 간격 */
}

.image {
    max-width: 100%;
    /* 이미지가 그리드 셀을 넘어가지 않도록 */
    height: auto;
    /* 이미지 비율 유지 */
}

.text-content {
    /* 나머지 텍스트 요소들에 대한 스타일 */
    width: 80%;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
}


#Home,
#mypage {
    padding: 10px;
    transition: all 0.3s;
}

#Home:hover {
    background-color: pink;
    cursor: pointer;
}


#mypage:hover {
    background-color: pink;
    cursor: pointer;
}











li {
    list-style: none;
}

a {
    text-decoration: none;
}


#i15 {
    background-color: rgb(255, 85, 0);
    color: white;
    border-radius: 5px;
    font-size: 50px;
    padding: 5px;
    padding-right: 7px;
}

#title {
    font-size: 40px;
}

#onair {
    color: dodgerblue;
    border: 2px solid dodgerblue;
    border-radius: 3px;
}

.info-hall {
    margin-top: 20px;
    margin-bottom: 20px;
}

.sun {
    color: rgb(255, 85, 0);
}

.night {
    color: rgb(46, 105, 252)
}

#etc {}

.seats {
    display: flex;
    gap: 20px;
}

.seat {
    border: 2px solid gray;
    display: inline-block;
    padding: 10px 15px;
    background-color: rgb(246, 249, 255);
    text-align: center;
    transition: all 0.3s;
}

.seat:hover {
    background-color: pink;
}

.clock {
    font-weight: bold;
}

.no {
    color: dodgerblue;
}